

body{
    background-color: lightgray;
    font-family: Helvetica;
}

.container{
    margin: auto;
    text-align:center;
}

h1{
    margin-top:50px;
    color: cyan;
    text-shadow: 5px 0 #234ef9;
    font-family: 'Monserrat';
    font-size: 100px;
    font-weight: 700; 
    font-style: 'italics';
}


.dice{
    display: inline-block;
    text-align: center;
    
}

p{
    font-size: 20px;
    color: #000000;
    font-family: 'Indie Flower', cursive;
}

img{
    width: 80%;
}


